<a id="refresh-conformance-link" href="#">
  <i class="glyphicon glyphicon glyphicon-refresh"></i>&nbsp;Refresh Cached Conformance
</a>
<div class="alert" role="alert">
	<div class="alert alert-danger">
		<strong>Error: </strong> Conformance Statement could not be loaded
	</div>
</div>