<div class="suite-group">
  <a class="btn btn-accent-inverse" role="button" data-toggle="collapse" href="#testGroup_{{group.id}}" aria-expanded="false" aria-controls="testGroup">
    {{group.title}}
  </a>
  <div class="collapse suite-group-body" id="testGroup_{{group.id}}">
    <div class="well">

      {{#each group.suites as |suite|}}
        {{> suite_select suite=suite}}
      {{/each}}

    </div>
  </div>
</div>

