<div class="carousel-title">Dashboard</div>
  <div style="padding:10px;">
    <div class="row" style="text-align:center;border-radius:10px;border:1px solid #ddd;background-color:#f3f3f3;padding:20px;">

      <div class="col-xs-12 row" style="margin-top:10px;margin-bottom:10px;">
        <div class="calendar-chart" id="calendarGraph" class="col-sm-12" style="border-radius:10px;background-color:white;padding:10px;">

        </div>
        <div class="col-xs-12 col-sm-4">
          <h2><%= @server_count %></h2>
          <spam class="text-muted">servers tested</spam>
        </div>

        <div class="col-xs-12 col-sm-4">
          <h2>1,234,567</h2>
          <spam class="text-muted">individual tests run</spam>
        </div>

        <div class="col-xs-12 col-sm-4">
          <h2><%= @test_run_count %></h2>
          <spam class="text-muted">test runs</spam>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <h2><%= @test_suites %></h2>
          <spam class="text-muted">test suites</spam>
        </div>

        <div class="col-xs-12 col-sm-4">
          <h2><%= @tests_available %></h2>
          <spam class="text-muted">total tests</spam>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6" >
        <h4>Recent Test Runs</h4>
        <div style="background-color:white;height:300px;border-radius:10px;border:1px solid #ddd;" class="line-chart" id="lineChart">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4>Popular Tests</h4>
        <div style="background-color:white;height:300px;border-radius:10px;border:1px solid #ddd;" class="bar-chart" id="barChart">
        </div>
      </div>
      
    </div>

  </div>

</div>