<%
noHeader ||= false
synchronized ||= false
extended ||= false
%>
<div class="starburst-summary" data-server-id="<%= server.id %>" <%if synchronized%> data-synchronized="true" <%end%> <%if extended%> data-extended="true"<%end%>>

  <div class="starburst starburst-loading">
    <svg viewBox="0 0 350 350" width="100%" height="100%" preserveAspectRatio="xMinYMin meet"></svg>
  </div>

  <% unless noHeader %>
    <a href="/servers/<%= server.id %>" title="<%=server.name%>">
      <div class="server-summary-details">
        <span class="server-name"><%= truncate(server.name, length: 20) %></span>
        <div class="summary-time-details">
          <span class="server-time"><i class="hidden fa fa-fw fa-clock-o"></i><span class="last-run">&nbsp;</span></span>
        </div>
      </div>
    </a>
  <% end %>
</div>
