version: '3'
volumes:
  rails_tmp:
  rails_vendor:
services:
  mongo:
    image: mongo:4.0
  web:
    build: .
    command: /crucible/bin/docker-start-web.sh 3000
    environment:
      - MONGODB_HOST=mongo:27017
    volumes:
      - .:/crucible
      - rails_tmp:/crucible/tmp
      - rails_vendor:/crucible/vendor
    ports:
      - 3000:3000
    links:
      - mongo:mongo
  tasks:
    build: .
    command: /crucible/bin/docker-start-tasks.sh 3000
    environment:
      - MONGODB_HOST=mongo:27017
    volumes:
      - .:/crucible
    depends_on:
      - web
      - mongo
    links:
      - mongo:mongo
