<div class="row">
  <div class="col-md-4 server-name">
    <svg width="18" height="18">
      <circle cx="9" cy="9" r="9" fill="red"/>
    </svg>
    <p> {{server.name}}</p>
  </div>
  <div class="col-md-7 results">
    <span> 
      {{#each server.results as |result|}}
        <svg width="18" height="18">
          <rect x="0" y="0" rx="3" ry="3" width="18" height="18" fill="{{result.test_result}}"/>
        </svg>
      {{/each}}
    </span>
  </div>
</div>