<div>
  <div class="well">
    <div class="form-group">
      <label for="bearer_token">Bearer Token</label>
      <input type="text" id="bearer_token" name="bearer_token" class="form-control" />
    </div>
  </div>

  <div class="well">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>
  </div>

  <div class="well">
    <label>OAuth2 Auth</label>
    <div class="form-group">
      <label for="client_id">Client ID</label>
      <input type="text" id="client_id" name="client_id" class="form-control" />
    </div>
    <div class="form-group">
      <label for="client_secret">Client Secret</label>
      <input type="text" id="client_secret" name="client_secret" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" id="authorize_app" disabled='disabled'>Authorize App</button>
  </div>
</div>
