<div>
  <!--div class="well">
    <div class="form-group">
      <label for="bearer_token">Bearer Token</label>
      <input type="text" id="bearer_token" name="bearer_token" class="form-control" />
    </div>
  </div-->

  <!--div class="well">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>
  </div-->

  <div class="well">
    <label>OAuth2 Auth</label>
    <form id="authorize_form" method="GET">
      <input type='hidden' name='response_type' id='response_type' value='code' />
      <input type='hidden' name='redirect_uri' id='redirect_uri' value='http://localhost:3000/redirect' />
      <input type='hidden' name='scope' id='scope' value='user/*.read' />
      <input type='hidden' name='aud' id='aud' value='<%= @server.url %>' />
      <input type='hidden' name='state' id='state' value='<%= @server.generate_state %>' />
      <div class="form-group">
        <label for="client_id">Client ID</label>
        <input type="text" id="client_id" name="client_id" class="form-control authorize_form_element" value='' />
      </div>
      <div class="form-group">
        <label for="client_secret">Client Secret</label>
        <input type="text" id="client_secret" name="client_secret" class="form-control authorize_form_element" value='' />
      </div>
      <button type="submit" class="btn btn-primary authorize_form_element" id="authorize_app">Authorize App</button>
    </form>
  </div>
</div>
