<!-- START: badges -->
<% if !@server.badges.empty? %>
<div class="row" style="height:50px;margin-top:-20px;margin-bottom:20px;text-align:center">
  <% for badge in Badge.all %>
  <% if @server.badges.include? badge.id %>
  <div class="col-xs-1" style="display:inline-block;float:none;text-align:center;
">
    <a href="/badges">
      <div class="img__wrap">
      <img class="img__img" src="<%= image_path("badge-" + badge.image + ".png") %>" style="height:50px;width:50px;">
      <div class="img__description" style="display:table"><div href="/badges" style="display:table-cell;vertical-align:middle"><%= badge.short_name %></div></div>
      </div>
    </a>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
<!-- END: badges -->
