  <!-- RESOURCE CHART -->
  <div class="row conformance">
    <div id="resource-chart" class="table-responsive">
      <table class="col-md-12 table table-mega-striped table-condensed">
        <thead>
          <tr>
            <th>Resource Type</th>
            <th>Read</th>
            <th>VRead</th>
            <th>Update</th>
            <th>Delete</th>
            <th>History</th>
            <th>Validate</th>
            <th>History Type</th>
            <th>Create</th>
            <th>Search Type</th>
          </tr>
        </thead>
        <tbody>
            <tr class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#tabbable-ember4462">
              <td data-title="Read" class="test-circle-holder">
                <a>Binary</a>
              </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled results-failed conformance-test-badge">
<span id="ember9690" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled results-passed conformance-test-badge">
<span id="ember9694" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled results-failed conformance-test-badge">
<span id="ember9698" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-empty results-passed conformance-test-badge">
<span id="ember9701" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled  conformance-test-badge">
<!----></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-empty results-failed conformance-test-badge">
<span id="ember9705" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled  conformance-test-badge">
<!----></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled results-passed conformance-test-badge">
<span id="ember9711" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled  conformance-test-badge">
<!----></span>

                </td>
            </tr>
            <tr class="hidden">
              <td colspan="10">
                <div class="panel-collapse collapse" aria-expanded="false" id="tabbable-ember4462">
                  Conforms to
                  <a href="http://hl7.org/fhir/StructureDefinition/Binary">http://hl7.org/fhir/StructureDefinition/Binary</a>
                  <table class="table inner-table">
                    <tr>
                      <th>Search Param</th>
                      <th>Type</th>
                      <th>Description</th>
                    </tr>
                      <tr>
                        <td>contenttype</td>
                        <td>token</td>
                        <td>MimeType of the binary content</td>
                      </tr>
                  </table>
                </div>
              </td>
            </tr>
            <tr class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#tabbable-ember5559">
              <td data-title="Read" class="test-circle-holder">
                <a>Patient</a>
              </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled results-failed conformance-test-badge">
<span id="ember7848" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''
<div class="popover-js hide">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">R004: Read invalid format resource id</li>
        <li class="list-group-item list-group-item-success">R001: Result headers on normal read.</li>
        <li class="list-group-item list-group-item-success">R003: Read non-existing resource id.</li>
        <li class="list-group-item list-group-item-success">CT01: Request xml using headers</li>
        <li class="list-group-item list-group-item-success">CT02A: Request [xml] using [_format]</li>
        <li class="list-group-item list-group-item-success">CT02B: Request [text/xml] using [_format]</li>
        <li class="list-group-item list-group-item-success">CT02C: Request [application/xml] using [_format]</li>
        <li class="list-group-item list-group-item-success">CT02D: Request [application/xml+fhir] using [_format]</li>
        <li class="list-group-item list-group-item-success">CT03: Request json using headers</li>
        <li class="list-group-item list-group-item-success">CT04A: Request [json] using [_format]</li>
        <li class="list-group-item list-group-item-success">CT04B: Request [text/json] using [_format]</li>
        <li class="list-group-item list-group-item-success">CT04C: Request [application/json] using [_format]</li>
        <li class="list-group-item list-group-item-success">CT04D: Request [application/json+fhir] using [_format]</li>
        <li class="list-group-item list-group-item-success">FT01: Request xml and json using headers</li>
        <li class="list-group-item list-group-item-success">FT02: Request xml and json using [_format]</li>
        <li class="list-group-item list-group-item-success">FT03: Request xml Bundle using headers</li>
        <li class="list-group-item list-group-item-success">FT04A: Request [xml] Bundle using [_format]</li>
        <li class="list-group-item list-group-item-success">FT04B: Request [text/xml] Bundle using [_format]</li>
        <li class="list-group-item list-group-item-success">FT04C: Request [application/xml] Bundle using [_format]</li>
        <li class="list-group-item list-group-item-success">FT04D: Request [application/xml+fhir] Bundle using [_format]</li>
        <li class="list-group-item list-group-item-success">FT05: Request json Bundle using headers</li>
        <li class="list-group-item list-group-item-success">FT06A: Request [json] Bundle using [_format]</li>
        <li class="list-group-item list-group-item-success">FT06B: Request [text/json] Bundle using [_format]</li>
        <li class="list-group-item list-group-item-success">FT06C: Request [application/json] Bundle using [_format]</li>
        <li class="list-group-item list-group-item-success">FT06D: Request [application/json+fhir] Bundle using [_format]</li>
    </ul>

</div>
</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled results-failed conformance-test-badge">
<span id="ember9344" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled  conformance-test-badge">
<!----></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-empty  conformance-test-badge">
<!----></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled results-failed conformance-test-badge">
<span id="ember9346" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-empty  conformance-test-badge">
<!----></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled results-failed conformance-test-badge">
<span id="ember9352" class="ember-view conformance-badge-popover" data-original-title="" title="">'''''

</span></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled  conformance-test-badge">
<!----></span>

                </td>
                <td>
                  <span aria-hidden="true" class="glyphicon test-filled  conformance-test-badge">
<!----></span>

                </td>
            </tr>
            <tr class="hidden">
              <td colspan="10">
                <div class="panel-collapse collapse" aria-expanded="false" id="tabbable-ember5559">
                  Conforms to
                  <a href="http://hl7.org/fhir/StructureDefinition/Patient">http://hl7.org/fhir/StructureDefinition/Patient</a>
                  <table class="table inner-table">
                    <tr>
                      <th>Search Param</th>
                      <th>Type</th>
                      <th>Description</th>
                    </tr>
                      <tr>
                        <td>animal-breed</td>
                        <td>token</td>
                        <td>The breed for animal patients</td>
                      </tr>
                      <tr>
                        <td>phonetic</td>
                        <td>string</td>
                        <td>A portion of either family or given name using some kind of phonetic matching algorithm</td>
                      </tr>
                      <tr>
                        <td>link</td>
                        <td>reference</td>
                        <td>All patients linked to the given patient</td>
                      </tr>
                      <tr>
                        <td>animal-species</td>
                        <td>token</td>
                        <td>The species for animal patients</td>
                      </tr>
                      <tr>
                        <td>deathdate</td>
                        <td>date</td>
                        <td>The date of death has been provided and satisfies this search value</td>
                      </tr>
                      <tr>
                        <td>organization</td>
                        <td>reference</td>
                        <td>The organization at which this person is a patient</td>
                      </tr>
                      <tr>
                        <td>given</td>
                        <td>string</td>
                        <td>A portion of the given name of the patient</td>
                      </tr>
                      <tr>
                        <td>careprovider</td>
                        <td>reference</td>
                        <td>Patient's nominated care provider, could be a care manager, not the organization that manages the record</td>
                      </tr>
                      <tr>
                        <td>address</td>
                        <td>string</td>
                        <td>An address in any kind of address/part of the patient</td>
                      </tr>
                      <tr>
                        <td>family</td>
                        <td>string</td>
                        <td>A portion of the family name of the patient</td>
                      </tr>
                      <tr>
                        <td>name</td>
                        <td>string</td>
                        <td>A portion of either family or given name of the patient</td>
                      </tr>
                      <tr>
                        <td>telecom</td>
                        <td>token</td>
                        <td>The value in any kind of telecom details of the patient</td>
                      </tr>
                      <tr>
                        <td>birthdate</td>
                        <td>date</td>
                        <td>The patient's date of birth</td>
                      </tr>
                      <tr>
                        <td>active</td>
                        <td>token</td>
                        <td>Whether the patient record is active</td>
                      </tr>
                      <tr>
                        <td>gender</td>
                        <td>token</td>
                        <td>Gender of the patient</td>
                      </tr>
                      <tr>
                        <td>deceased</td>
                        <td>token</td>
                        <td>This patient has been marked as deceased, or as a death date entered</td>
                      </tr>
                      <tr>
                        <td>language</td>
                        <td>token</td>
                        <td>Language code (irrespective of use value)</td>
                      </tr>
                      <tr>
                        <td>identifier</td>
                        <td>token</td>
                        <td>A patient identifier</td>
                      </tr>
                  </table>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel-title table-header row">
        <div class="col-md-3">
          <span class="table-cell"><!----></span>
        </div>
        <div class="col-md-9">
          <div class="col-md-1"><i class="glyphicon test-circle  conformance-test-badge "><!----></i></div><div class="col-md-3">Transaction</div>
          <div class="col-md-1"><i class="glyphicon test-circle  conformance-test-badge "><!----></i></div><div class="col-md-3">System-History</div>
          <div class="col-md-1"><i class="glyphicon test-circle  conformance-test-badge "><!----></i></div><div class="col-md-3">System-Search</div>
        </div>
      </div>
    </div>
  </div>
