                  <div class="row conformance metadata">
                    <div class="metadata-selector col-md-3">
                      <ul class="nav nav-pills nav-stacked metadata">
                        <li class="active"><a data-toggle="tab" href="#conformance-metadata" aria-expanded="false">Conformance Metadata</a></li>
                        <li><a data-toggle="tab" href="#rest-metadata" aria-expanded="false">REST Metadata</a></li>
                        <li><a data-toggle="tab" href="#document-metadata" aria-expanded="false">Document Metadata</a></li>
                        <li><a data-toggle="tab" href="#messaging-metadata" aria-expanded="false">Messaging Metadata</a></li>
                      </ul>
                    </div>
                    <!-- METADATA EXPAND CONTAINER -->
                    <div class="metadata-expand-container col-md-9 tab-content">
                      <!-- CONFORMANCE METADATA  -->
                      <div id="conformance-metadata" class="tab-pane active">
                        <div class="panel-body">
                          <div id="ember7713" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>NAME:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                SMART on FHIR Conformance Statement
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7714" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>IDENTIFIER:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7715" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>VERSION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                0.5.0-????
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7716" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>PUBLISHER INFORMATION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                SMART on FHIR
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7717" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>DESCRIPTION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                Describes capabilities of this SMART on FHIR server
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7718" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>STATUS:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                draft
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7719" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>EXPERIMENTAL:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                Yes
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7720" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>DATE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                Wed Sep 02 2015 07:57:35 GMT-0400 (EDT)
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7721" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>SOFTWARE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                unknown
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7722" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>IMPLEMENTATION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                unknown
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7723" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>FHIR VERSION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                0.5.0
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7724" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>ACCEPT UNKNOWN:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                No
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div><label>FORMATS SUPPORTED:</label></div>
                            </div>
                            <div class="col-md-8">
                              <div>
                                <!---->
                              </div>
                            </div>
                          </div>
                          <div id="ember7725" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>ADDITIONAL PROFILES SUPPORTED:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- REST METADATA  -->
                      <div id="rest-metadata" class="tab-pane">
                        <div class="panel-body">
                          <div id="ember7726" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>MODE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                server
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7727" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>IDENTIFIER:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7728" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>DOCUMENTATION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                All the functionality defined in FHIR
                              </div>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- DOCUMENT METADATA  -->
                      <div id="document-metadata" class="tab-pane">
                        <div class="panel-body">
                          <div id="ember7729" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>MODE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7730" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>PROFILE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7731" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>DOCUMENTATION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- MESSAGING METADATA  -->
                      <div id="messaging-metadata" class="tab-pane">
                        <div class="panel-body">
                          <div id="ember7732" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>ENDPOINT:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7733" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>RELIABLE CACHE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7734" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>DOCUMENTATION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
