              <div id="ember7736" class="ember-view">
                <div class="percent-supported">
                  <span class="percent-supported-value">
                  84%
                  </span>
                  <span class="percent-supported-text">
                  of the FHIR Specification is currently supported by this server
                  </span>
                  <span class="server-time servers-show-time">
                  <i class="fa fa-fw fa-clock-o"></i> 3 months ago
                  </span>
                </div>
                <div class="row server-fhir-specification section-data">
                  <div class="col-md-5 spec-starburst-chart">
                    <div id="ember9720" class="ember-view">
                      <div class="starburst-header">
                        FHIR:
                        <p>3069 / 3667 passed (84%)</p>
                      </div>
                      <%= render partial: "components/server_summary", locals: {server: server, noHeader: true}%>
                    </div>
                  </div>
                  <div class="col-md-7 spec-details">
                    <div class="row spec-headers">
                      <div class="col-md-3 col-md-offset-1 spec-headers-specification">Specification</div>
                      <div class="col-md-3 col-md-offset-5 spec-headers-passing">% Passing</div>
                    </div>
                    <div class="row">
                      <table class="table spec-table table-hover nav nav-stacked">
                        <tbody>
                          <tr id="ember9722" class="ember-view row">
                            <div class="col-md-4 col-md-offset-1 spec-title">Operations</div>
                            <div class="col-md-4 spec-bar-graph">
                              <div id="ember9723" class="ember-view progress-small">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: 90%;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: 7%;"></div>
                                <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: 2%;"></div>
                              </div>
                            </div>
                            <div class="col-md-3 spec-percent-passing">90%</div>
                          </tr>
                          <tr id="ember9725" class="ember-view row">
                            <div class="col-md-4 col-md-offset-1 spec-title">Resources</div>
                            <div class="col-md-4 spec-bar-graph">
                              <div id="ember9726" class="ember-view progress-small">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: 74%;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: 23%;"></div>
                                <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: 1%;"></div>
                              </div>
                            </div>
                            <div class="col-md-3 spec-percent-passing">75%</div>
                          </tr>
                          <tr id="ember9728" class="ember-view row">
                            <div class="col-md-4 col-md-offset-1 spec-title">Format</div>
                            <div class="col-md-4 spec-bar-graph">
                              <div id="ember9729" class="ember-view progress-small">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: 100%;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                              </div>
                            </div>
                            <div class="col-md-3 spec-percent-passing">100%</div>
                          </tr>
                          <tr id="ember9731" class="ember-view row">
                            <div class="col-md-4 col-md-offset-1 spec-title">Security</div>
                            <div class="col-md-4 spec-bar-graph">
                              <div id="ember9732" class="ember-view progress-small">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: 100%;"></div>
                              </div>
                            </div>
                            <div class="col-md-3 spec-percent-passing">0%</div>
                          </tr>
                          <tr id="ember9734" class="ember-view row">
                            <div class="col-md-4 col-md-offset-1 spec-title">Messaging</div>
                            <div class="col-md-4 spec-bar-graph">
                              <div id="ember9735" class="ember-view progress-small">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: 100%;"></div>
                              </div>
                            </div>
                            <div class="col-md-3 spec-percent-passing">0%</div>
                          </tr>
                          <tr id="ember9737" class="ember-view row">
                            <div class="col-md-4 col-md-offset-1 spec-title">Documents</div>
                            <div class="col-md-4 spec-bar-graph">
                              <div id="ember9738" class="ember-view progress-small">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: 100%;"></div>
                              </div>
                            </div>
                            <div class="col-md-3 spec-percent-passing">0%</div>
                          </tr>
                          <tr id="ember9740" class="ember-view row">
                            <div class="col-md-4 col-md-offset-1 spec-title">Profiles</div>
                            <div class="col-md-4 spec-bar-graph">
                              <div id="ember9741" class="ember-view progress-small">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: 100%;"></div>
                              </div>
                            </div>
                            <div class="col-md-3 spec-percent-passing">0%</div>
                          </tr>
                          <tr id="ember9743" class="ember-view row">
                            <div class="col-md-4 col-md-offset-1 spec-title">Extensions</div>
                            <div class="col-md-4 spec-bar-graph">
                              <div id="ember9744" class="ember-view progress-small">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: 0%;"></div>
                                <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: 100%;"></div>
                              </div>
                            </div>
                            <div class="col-md-3 spec-percent-passing">0%</div>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!---->
                <!---->
              </div>
