<div class="test-run-report" data-server-id="<%=server.id %>">
  <div class="row server-fhir-specification section-data">
    <%= render partial: "components/server_summary", locals: {server: server, noHeader: true, extended: true}%>
  </div>
  <div class="server-history server-history-loading">
  </div>
  <div class="failures row">
    <div class="common-failures col-sm-12">
    </div>
  </div>
</div>
