<div class="test-run-report" data-server-id="<%=server.id %>">
  <div class="row server-fhir-specification section-data">
    <%= render partial: "components/server_summary", locals: {server: server, noHeader: true, extended: true}%>
  </div>
  <div class="server-history server-history-loading">
  </div>
  <div class="failures row">
    <div class="common-failures col-sm-6">
      <div class="failures-title">
        Recent Common Failures
      </div>
      <div>
        <br><br>
        Loading
      </div>
    </div>
    <div class="recent-runs col-sm-6">
      <div class="recent-runs-title">
        Recent Test Runs
      </div>
      <div>
        <br><br>
        Loading
      </div>
    
    </div>
  </div>
</div>
