                      <div id="ember6142" class="ember-view">
                        <div class="test-run-result ">
                          <div class="toggleable panel-heading">
                            <h4 class="panel-title">
                              <input id="ember6143" type="checkbox" name="55d4c96e4d4d321095620000" class="ember-view ember-checkbox">
                              <a class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#tabbable-ember6144">
                              <label>Read Test</label>
                              </a>
                              <i class="glyphicon glyphicon-remove-circle failed"></i>
                            </h4>
                          </div>
                          <div class="panel-collapse collapse" id="tabbable-ember6144" aria-expanded="false" style="height: 0px;">
                            <p class="helper_text">Initial Sprinkler tests (R001, R002, R003, R004) for testing basic READ requests.</p>
                            <div class="row details">
                              <div class="col-md-5">
                                <table class="table table-hover report-table nav nav-stacked">
                                  <tbody>
                                    <tr id="ember7807" class="ember-view">
                                      <td>
                                        <span class="pass"><i class="glyphicon glyphicon-ok-circle passed"></i></span>
                                      </td>
                                      <td>
                                        <i class="fa fa-exclamation-triangle warning"></i>
                                      </td>
                                      <td>
                                        Result headers on normal read.
                                      </td>
                                    </tr>
                                    <tr id="ember7808" class="ember-view">
                                      <td>
                                        <span class="pass"><i class="glyphicon glyphicon-ok-circle passed"></i></span>
                                      </td>
                                      <td>
                                        <!---->
                                      </td>
                                      <td>
                                        Read unknown resource type.
                                      </td>
                                    </tr>
                                    <tr id="ember7809" class="ember-view">
                                      <td>
                                        <span class="pass"><i class="glyphicon glyphicon-ok-circle passed"></i></span>
                                      </td>
                                      <td>
                                        <!---->
                                      </td>
                                      <td>
                                        Read non-existing resource id.
                                      </td>
                                    </tr>
                                    <tr id="ember7810" class="ember-view active">
                                      <td>
                                        <span class="fail"><i class="glyphicon glyphicon-remove-circle failed"></i></span>
                                      </td>
                                      <td>
                                        <!---->
                                      </td>
                                      <td>
                                        Read invalid format resource id
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="col-md-7 tab-content test-results">
                                <div class="media">
                                  <h4 class="test-run-result-id">R004: Read invalid format resource id</h4>
                                  <div class="media test-message">
                                    <div class="media-body">
                                      <h4 class="media-heading">Message</h4>
                                      Bad response code expected 400, but found: 404
                                    </div>
                                  </div>
                                  <!---->
                                  <div class="media test-links">
                                    <div class="media-body">
                                      <h4 class="media-heading">Links</h4>
                                      <div><a target="_blank" href="http://hl7.org/fhir/2015May/http.html#read">Related FHIR Spec Location</a></div>
                                      <div><a target="_blank" href="http://hl7.org/fhir/2015May/datatypes.html#id">Related FHIR Spec Location</a></div>
                                    </div>
                                  </div>
                                  <div class="media test-requires">
                                    <div class="media-body">
                                      <h4 class="media-heading">Test Requires</h4>
                                      <div>Patient: create,read,delete</div>
                                    </div>
                                  </div>
                                  <div class="media test-validates">
                                    <div class="media-body">
                                      <h4 class="media-heading">Test Validates</h4>
                                      <div>Patient: read</div>
                                    </div>
                                  </div>
                                  <div class="media test-response-data">
                                    <div class="media-body">
                                      <h4 class="media-heading">Data</h4>
                                      &lt;html&gt;
                                      &lt;head&gt;
                                      &lt;meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/&gt;
                                      &lt;title&gt;Error 404 Not Found&lt;/title&gt;
                                      &lt;/head&gt;
                                      &lt;body&gt;&lt;h2&gt;HTTP ERROR 404&lt;/h2&gt;
                                      &lt;p&gt;Problem accessing /WEB-INF/grails-app/views/api/read.jsp. Reason:
                                      &lt;pre&gt;    Not Found&lt;/pre&gt;&lt;/p&gt;&lt;hr&gt;&lt;i&gt;&lt;small&gt;Powered by Jetty://&lt;/small&gt;&lt;/i&gt;&lt;hr/&gt;
                                      &lt;/body&gt;
                                      &lt;/html&gt;
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
