<% if @registered%>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action 'closeRegisteredAlert'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Registration successful</strong>, you may now login.
  </div>
<% end %>

<div class="container main">
  <div class="banner row">
    <div class="col-sm-12 left">
      <div class="alert alert-warning alert-dismissible CFP-update" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Crucible STU 3:</strong> This version of Crucible aligns with the <a href="http://hl7.org/fhir/2016Sep/index.html">STU3 version of FHIR</a>.  There is also <a href="https://beta.projectcrucible.org/">a version of Crucible that aligns with the DSTU 2 version of FHIR</a>.
      </div>
    </div>
    <div class="col-sm-12 center">
      <div class="alert alert-warning" role="alert">
        <strong>FHIR Scorecard:</strong> Score the quality and completeness of your FHIR Patient Records (Bundles) using our <a href="/scorecard">new scorecard</a>.
        
      </div>
    </div>
    <div class="col-sm-12 right">
      <div class="alert alert-warning" role="alert">
        <strong>FHIR Test Data:</strong> Coming soon, load synthetic test data to your server with Synthea!
        
      </div>
    </div>
  </div>

  <form action="/servers" method="post" id="new-server-form">
<!--     <div class="banner row">
      <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissible dstu-update" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Attention!</strong> banner message
        </div>
      </div>
    </div>
 -->    <div class="row form landing-page">
      <div class="col-sm-1">
        <div class="picture landing-page visible-lg-block">
          <img src="<%= image_path("logo_dark.png")%>" alt="Crucible">
        </div>
      </div>
      <div class="col-sm-11 landing-page-form">
        <div class="row">
          <div class="col-sm-10">
            <input placeholder="FHIR Server URL" type="text" name="server[url]" class="form-control">
          </div>
          <div class="col-sm-2">
            <input type="submit" class="btn begin" value="Begin"></input>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="row form">
      <div class="col-sm-10">
        <div class="form-group">
          {{#if multiServer}}
            {{input value=server2 class="form-control" placeholder="Comparison FHIR Server URL"}}
          {{/if}}
        </div>
      </div>

      <div class="col-sm-2">
        {{#if multiServer}}
          <a {{action 'removeUrl'}} class="toggle-info" ><i class="fa fa-minus fa-fw"></i> Remove Server</a>
        {{else}}
          <a {{action 'addUrl'}} class="toggle-info" ><i class="fa fa-plus fa-fw"></i> Add A Server</a>
        {{/if}}
      </div>
    </div>
  -->
  </form>

  <!-- Summaries -->

  <%= render partial: 'components/server_summary_carousel', locals: {servers: @servers}%>

</div>
