<% if @registered%>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action 'closeRegisteredAlert'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Registration successful</strong>, you may now login.
  </div>
<% end %>

<div class="container main">
  <!--div class="banner row">
    <div class="col-md-12">
      <div class="alert alert-danger alert-dismissible CFP-update" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Attention!</strong> The MITRE Corporation and SMART have released a Call for Participation (CFP) to solicit interest in a FHIR clinical interoperability assessment exercise. The exercise is being planned for April 5-7, 2016.  <a href="https://docs.google.com/document/d/1mKLNnWWOt8sDXFsxy2CNxN1eYUEdcsKvGGLSQYn8_1A
          " target="_blank">Click here for more information.</a>
      </div>
    </div>
  </div-->

  <form action="/servers" method="post" id="new-server-form">
<!--     <div class="banner row">
      <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible dstu-update" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Attention!</strong> banner message
        </div>
      </div>
    </div>
 -->    <div class="row form landing-page">
      <div class="col-md-1">
        <div class="picture landing-page visible-lg-block">
          <img src="<%= image_path("logo_dark.png")%>" alt="Crucible">
        </div>
      </div>
      <div class="col-md-11 landing-page-form">
        <div class="row">
          <div class="col-md-10">
            <input placeholder="FHIR Server URL" type="text" name="server[url]" class="form-control">
          </div>
          <div class="col-md-2">
            <input type="submit" class="btn begin" value="Begin"></input>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="row form">
      <div class="col-md-10">
        <div class="form-group">
          {{#if multiServer}}
            {{input value=server2 class="form-control" placeholder="Comparison FHIR Server URL"}}
          {{/if}}
        </div>
      </div>

      <div class="col-md-2">
        {{#if multiServer}}
          <a {{action 'removeUrl'}} class="toggle-info" ><i class="fa fa-minus fa-fw"></i> Remove Server</a>
        {{else}}
          <a {{action 'addUrl'}} class="toggle-info" ><i class="fa fa-plus fa-fw"></i> Add A Server</a>
        {{/if}}
      </div>
    </div>
  -->
  </form>

  <!-- Summaries -->

  <%= render partial: 'components/server_summary_carousel', locals: {servers: @servers}%>

</div>
