<% if @registered%>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action 'closeRegisteredAlert'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Registration successful</strong>, you may now login.
  </div>
<% end %>

<div class="jumbotron">
  <div class="container">
    <img class="pull-right" src="/assets/logo.png"/>
    <h1>Open Source FHIR Testing</h1> 
    <p>
    Crucible is a set of <a href="http://github.com/fhir-crucible/crucible">open source</a> testing tools for HL7<sup>®</sup> FHIR<sup>®</sup>.
    It it provided as a free service to the FHIR development community to help promote correct FHIR implementations.  It currently can test
    for conformance to the FHIR standards, score your patient record for completeness, and generate synthetic patient data.
    </p>

    <p>
    We are actively seeking contributors.  Visit our <a href="https://github.com/fhir-crucible/crucible">github page</a> for more information.
    </p>

  </div>
</div>

<div class="container">

  <div class="service-list-row row">
    <div class="service-list-item">
      <h2>Test FHIR Conformance</h2>
      Crucible provides a comprehensive testing capability for STU 3 v1.6.
      To get started, enter a publically accessible URL in the form below.

    </div>
    <div class="service-list-item">
      <h2>FHIR Scorecard</h2>
      Score the quality and completeness of your FHIR Patient Records (Bundles) using our <a href="/scorecard">new scorecard</a>.

    </div>
    <div class="service-list-item">
      <h2>Generate FHIR Test Data</h2>
      Load <a href="/testdata">synthetic test data</a> to your server with Crucible and Synthea!
    </div>
  </div>
</div>

<div class="container main">

  <form action="/servers" method="post" id="new-server-form">
    <!--     <div class="banner row">
      <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissible dstu-update" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Attention!</strong> banner message
        </div>
      </div>
    </div>
    -->    
    <div class="row form landing-page">
      <div class="col-sm-1">
        <div class="picture landing-page visible-lg-block">
          <img src="<%= image_path("logo_dark.png")%>" alt="Crucible">
        </div>
      </div>
      <div class="col-sm-11 landing-page-form">
        <div class="row">
          <div class="col-sm-10">
            <input placeholder="FHIR Server URL" type="text" name="server[url]" class="form-control">
          </div>
          <div class="col-sm-2">
            <input type="submit" class="btn begin" value="Begin"></input>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Summaries -->

  <%= render partial: 'components/server_summary_carousel', locals: {servers: @servers}%>

</div>
