<div class="row">
  <div class="col-md-12">
    <svg width="18" height="18">
      <circle cx="9" cy="9" r="9" fill="red"/>
    </svg>
    <p> {{server.name}}</p>
    <span> 
      {{#each server.result as |result|}}
        <svg width="18" height="18">
          <rect x="0" y="0" width="18" height="18" fill="red"/>
        </svg>
      {{/each}}   
    </span>
  </div>
</div>