<div class="response-panel">
	<a class="btn hello" role="button" data-toggle="collapse" aria-expanded="false">
	  Link with href
	</a>
	<div class="collapse mini">
	  <div class="well">
	    {{data}}
	  </div>
	</div>
</div>