<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <div class="palette dashboard dashboard-element">
        <div class="row dashboard-header">
          <div class="col-md-12">
            <h4>Argonaut Implementation Sprint 4 <a data-toggle="collapse" href="#dashboard-metadata">(more info)</a></h4>
            <div class="collapse" id="dashboard-metadata">
              <div class="row">
<!--                 <div class="col-md-2"><button class="btn secondary">Overview</button></div>
                <div class="col-md-2"><button class="btn secondary">Instructions</button></div>
                <div class="col-md-2"><button class="btn secondary">FHIR API Calls</button></div>
                <div class="col-md-2"><button class="btn secondary">Authorization</button></div> -->
                <div class="col-md-12">
                  <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Overview</a></li>
                    <li role="presentation"><a href="#">Instructions</a></li>
                    <li role="presentation"><a href="#">FHIR API Calls</a></li>
                    <li role="presentation"><a href="#">Authorization</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row dashboard-body">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

