.warning-message{
  display: none;
  text-align: left;
  font-size: 12px;
  padding: 10px;
  margin-top: 10px;
}

/*banner class usually exists with a row class*/
.banner{
  .alert{
  	margin-left: 15px;
  	margin-right: 15px;
	  &.dstu2-update{
      margin-bottom: 15px;
	  }
    &.CFP-update{
      margin-bottom: 15px;
      font-size: 16px;
      a{
        text-decoration: underline;
      }
    }
    a {
      color: #337ab7;
    }
  }
}
