.badge-panel {
	min-height:130px;
}

.badge-image {
	width:100px;
	margin:20px auto;
}

.badge-description {
	padding-bottom:10px;
	text-align:left;
}

table.req-table, .req-table > tbody > tr, .req-table > tbody > tr > td {
	border: none;
	margin-top:0px;
	margin-bottom:0px;
}

.req-container {
	text-align:left;
	font-size:14px;
}

