.btn {
  height: 35px;
  width: 100%;
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: $brand-tertiary;
  font-size: 16px;
  &:focus {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $brand-tertiary;
    outline: none;
  }
  &:hover{
    color: $brand-tertiary;
    background-color: darken($brand-secondary, 11%);
    border-color: darken($brand-secondary, 11%);
    text-decoration: none;
  }
  &:active:focus{
    outline: none;
  };
  a {
    color: $brand-tertiary;
    &:hover{
      color: $brand-tertiary;
      text-decoration: none;
    }
  }
  &.secondary{
    font-size: 14px;
    height: 34px;
    background-color: $brand-tertiary;
    border: none;
    color: $brand-accent;
    &:hover{
      background-color: $brand-accent;
      color: white;
    }
    &:active{
      background-color: $brand-accent;
      color: white;
    }
  }
}

.modal-footer {
  .btn {
    width: auto;
  }
}
