.container{
  &.main {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &.servers-show {
    min-width: 1170px;
  }
}

.palette {
  text-align: center;
  background-color: $brand-tertiary;
  border-radius: 10px;
  padding: 60px;
  margin-bottom: 50px;
  &.report {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &.dashboard{
    text-align: left;
  }
}

.picture{
  text-align: right;
  img {
    width: 50px;
  }
}


footer {
  line-height: 100px;
  margin: 0;
  .navbar {
    margin: 0;
    .navbar-nav {
      margin: 22px;
    }
  }
  img {
    margin-left: 20px;
    width: 40px;
  }
}

.grouping-options{
  margin-bottom: 20px;
  border-left: none;
  button{
    width: 50%;
    &.selected{
      background-color: $brand-accent;
      color: white;
    }
  }
}

.button-holder{
  text-align: left;
  a{
    margin-right: 4px;
  }
  button{
    height: 34px;
    font-size: 16px;
  }
}
