.dashboard-header{
  h4{
    font-size: 20px;
  }
  a{
    font-size: 16px;
  }
  margin-bottom: 20px;
  .nav > li > a:focus{
    background-color: $brand-accent;
    color: $brand-tertiary;
  }
  .nav > li > a:hover{
    background-color: $brand-accent;
    color: $brand-tertiary;
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: $brand-accent;
  }
  .tab-pane p{
    font-size: 12px;
    color: $structure;
  }
  #dashboard-metadata-content{
    margin-top: 20px;
  }
}

.dashboard-body{
  font-size: 16px;
  p{display: inline;}
  .server-name p{
    margin-left: 10px;
  }
  .nav{
    font-size: 14px;
    li > a.active{
      background-color: $brand-accent;
    }
  }
}
