
.filter{
  margin-top: 30px;
  & > div{
    margin-bottom: 15px;
  }
  .button-holder{
    & > div > a{
      font-size: 12px;
    }
    margin-top: 10px;
    button{
      text-align: left;
      &.hide{
        visibility: none;
      }
    }
  }
  .tag {
    display: inline-block;
    background-color: $brand-accent;
    border: 3px solid $brand-accent;
    color: $brand-tertiary;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 100;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    a {
        color: $brand-tertiary;
    }
  }
  .summary{
  }
  .add-filter{
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    .add-filter-selector{
      select{
        width: 70%;
        display: inline;
      }
      a{
        font-size: 14px;
        display: inline;
      }
    }
  }
  .filter-selector.form-control{
    border-color: $brand-accent;
    color: $brand-accent;
  }
}

