.form {
  &.row {
    padding: 5px 15px;
  }
}


.form-control{
  &:focus {
    border-color: $brand-accent;
  }
  &.error{
    margin-right: 0;
    color: $brand-primary;
  }
}

.scope-types {
  tbody > tr:not(:last-child) {
    border-bottom: lightgrey 1px solid;
  }

  thead {
    border-bottom: lightgrey 2px solid;
  }

  th, td {
    padding: 0 5px;
  }
}

input.error {
  margin: 0;
}
