
.jumbotron {
  padding: 32px 0 64px;
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  p {
    line-height: 30px;
    width: 85%;

  }
  img {
    padding-top: 75px;

  }
}

.dragging {
  opacity: .6 !important;
}

.service-list-row {
  margin-top: -70px;
  margin-left: 0;
  .service-list-item {
    float: left;
    width: 32%;
    margin-right: 20px;
    color: #666;
    background-color: #d7d5d5;
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 10px 15px;
    height: 185px;

    h2 {
      color: #666;
      margin-top: 10px;
    }
  }
  :last-child {
    margin-right: 0px;
  }
}

.carousel-title {
  font-size: 40px;
  color: #505152;
}

.server-summaries {
  margin: 40px 0;
  background-color: $brand-tertiary;
  border-radius: 10px;
  padding: 10px;

  .server-filters {
    list-style: none;
    text-align: right;
    margin-top: 25px;
    padding-left: 25px;

    li {
      padding: 0 2px 0 5px;
      font-size: 14px;
      display: inline-block;
    }

    li:last-child {
      border-left: 1px solid #999;
    }

    .filters-label {
      font-weight: bold;
      color: #999;
      padding-right: 0;
    }

    .selected {
      font-weight: bold;
      text-decoration: underline;
    }

    .selected:hover {
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .server-search {
    padding: 0px 10px 0 20px;

    input {
      margin-top: -15px;
      width: 500px;
      display: none;
      margin-bottom: 6px;
    }
  }

  .server-search i:hover {
    cursor: pointer;
  }

  .server-rank {
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 5px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #ddd;
  }

  .server-highlight {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin: 0 20px 0 10px;
  }

  .active {
    background-color: #eee;
  }

  .server-rows-container {
    position:relative;
    height:760px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #f3f3f3;
  }

  .server-rows {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;

    .server-name {
      font-size: 16px;
      padding-bottom: 3px;
    }
  }

  .server-scroller {
    position:absolute;
    top: 0;
    right: 0;
  }

  .starburst-summary {
    padding: 0 6px 0 6px;
    margin: 10px 0;
  }

  .server-summary-details {
    .percent-passed {
      font-weight: bold;
    }

  }

  .summary-time-details {
    margin-bottom: 10px;
    line-height: 1em;
  }

  .server-item {
    margin: 0 7px;
    position:relative;
    width: 191px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
  }

}


