// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  height: 34px;
  width: 100%;
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: $brand-tertiary;
}

.login {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: $brand-primary;
}

.login-footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;

  login-btn {
    text-align: right;
    button, input{
      height: 100px;
    }
  }
  login-options {
    vertical-align: center;
    position: absolute;
  }
}

.modal-content {
  background-color: $base-lighten;
}

.modal-body {
  padding: 40px;
}

.login-inputs {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 26px;
  margin-left: 50px;
  margin-right: 50px;
}

.login-input {
  margin-bottom: 10px;
}

.login-alert {
  &.alert-danger, &.alert-success {
    text-align: center;
  }
}
