
.login{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: $brand-primary;
  img{
    padding: 10px;
  }
}

.login-footer{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;

  login-btn{
    text-align: right;
    button{
      height: 100px;
    }
  }
  login-options{
    vertical-align: center;
    position: absolute;
  }
}

.modal-content{
  background-color: $base;
}

.modal-body{
  padding: 40px;
}

.login-inputs{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 26px;
  margin-left: 50px;
  margin-right: 50px;
  &.registration{
    margin-bottom: 0px;
  }
}

.login-input{
  margin-bottom: 10px;
}

.row.auth{
  margin-top:200px;
}

.remember-me{
  text-align: left;
  padding-left: 15px;
  color: #837777;
  label{
    font-weight: normal;
  }
}




