.bar-chart .axis {
  font: 10px sans-serif;
}

.bar-chart .axis path,
.bar-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line-chart { font: 12px Arial;}

.line-chart path.line { 
  stroke: rgb(254,153,41);
  stroke-width: 2;
  fill: none;
}

.line-chart .axis path {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.calendar-chart {
  font: 10px sans-serif;
  /*shape-rendering: crispEdges;*/
}

.calendar-chart .day {
  fill: #fff;
  stroke: #fff;
}

.calendar-chart .month {
  fill: none;
  stroke: #444;
  stroke-width: 2px;
}

.YlOrBr .q0-9{fill:rgb(255,255,229)}
.YlOrBr .q1-9{fill:rgb(255,247,188)}
.YlOrBr .q2-9{fill:rgb(254,227,145)}
.YlOrBr .q3-9{fill:rgb(254,196,79)} 
.YlOrBr .q4-9{fill:rgb(254,153,41)} 
.YlOrBr .q5-9{fill:rgb(236,112,20)} 
.YlOrBr .q6-9{fill:rgb(204,76,2)} 
.YlOrBr .q7-9{fill:rgb(153,52,4)} 
.YlOrBr .q8-9{fill:rgb(102,37,6)}
