
#loading-modal-dialog {
  transform: translate(0, 50%);
  -ms-transform: translate(0, 50%); /* IE 9 */
  -webkit-transform: translate(0, 50%); /* Safari and Chrome */
}

.modal-dialog.auth{
  max-width: 700px;
  label{
  	font-size: 14px;
  	&.header-label{
  	  margin-bottom: 10px;
  	}
  }
  button{
  	font-size: 14px;
  }
}

.modal-dialog.response-data{
  .panel-heading{
    text-align: left;
    padding: 5px;
  }
  .panel-group .panel{
    border-bottom: none;
    box-shadow: none;
  }
  .panel-body{
    text-align: left;
  }
  .panel-title{
    text-align: left;
    font-size: 14px;
    margin-bottom: 0;
  }
  .response-panel-body {
    code {
      max-height: 350px;
    }
  }

}


.modal-footer {
  .btn {
    width: auto;
  }
}
