/*Navigation has a navbar-header and then the actual nav itself*/

.navbar-header{
  .navbar-brand{
    font-weight: 500;
    font-size: 32px;
    font-family:"Apple Gothic", appleGothic, gothic, sans-serif;
    color: $brand-tertiary;
    background: #298BDD;
  }
}

nav {
  .navButton {
    font-weight: 100;
    font-size: 18px;
    color: $brand-tertiary;
  }
}

.nav-tabs > li > a:hover {
  background-color: #4ABCE2;
  color:white;
}

.footer{padding-bottom:0}