
.server.selectBox {
  margin-bottom: 30px;
  text-align: left;
  color: $brand-accent;
  font-size: 20px;

  button {
    border: none;
    font-size: 16px;
    text-align: left;
  }
}


// ------------------------- SERVER DETAILS -------------------------------- //

.server-details {
  height: 60px;
  border-radius: 10px;
  .server-icon {
    margin-right: 30px;
    font-size: 55px;
    line-height: 60px;
    color: $brand-accent;
  }

  input {
    padding-left: 5px;
  }

  .authorize-icon {
    margin-right: 15px;
    font-size: 45px;
    line-height: 60px;
    a {
      color: $failure;
      &.authorize-success {
        color: $success;
      }
    }
  }


  .server-url-name {
    text-align: left;
    line-height: 26px;
    padding: 5px 0 0 0;
    display: inline-block;
    .server-name {
      color: $brand-primary;
    }

    .edit-server-name {
      font-size: 16px;
      margin-left: 10px;
    }
    .server-sequence-label {
      font-size: 16px;
      color: #505152;
    }
  }

  .tag {
    display: inline-block;
    background-color: $brand-accent;
    border: 3px solid $brand-accent;
    color: $brand-tertiary;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 100;
    padding: 3px;
    padding-top: 6px;
    margin-bottom: 5px;
    margin-right: 5px;
    line-height: 8px;
    a {
      color: $brand-tertiary;
      cursor: pointer
    }
  }

  .bootstrap-tagsinput {
    border: 1px solid #ccc;
    padding: 2px 0 0 2px;
    clear: both; // If the URL has an error
    input {
      font-size: 12px;
      border: 0;
      outline-width: 0px;
    }

    span [data-role="remove"] {
      margin-left: 8px;
      cursor: pointer;
      &:after{
        content: "x";
        padding: 0 2px;
      }
    }
    
  }
}

.server-test-details{
  text-align: left;
  margin-bottom: 10px;
}

.server-url-panel {
  a {
    color: $brand-primary;
  }
}

// ------------------------- FHIR SPECIFICATION STARBURST ------------------ //

.percent-supported {
  text-align: left;

  .percent-supported-value {
    font-size: 30px;
  }
  .percent-supported-text {
    font-size: 16px;
  }
}

.starburst-loading {
  height: 100%;
  background-image: url("starburst_loading.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.server-fhir-specification {

  .spec-starburst-chart {
    padding: 30px 0px 30px 30px;
    text-align: left;

    .starburst {
      svg {
        min-width: 300px;
        min-height: 300px;
      }
    }

  }

  .spec-details {
    padding-top: 60px;

    .spec-headers {
      margin-bottom: 15px;
      text-align: left;

      .spec-headers-specification {
        text-decoration: underline;
      }

      .spec-headers-passing {
        text-align: right;
        text-decoration: underline;
      }
    }

    .spec-icon{
      font-size: 24px;
      line-height: 24px;
    }

    .spec-title{
      text-align: left;
      white-space: nowrap;
    }

    .spec-bar-graph{
      & .progress-small{
        margin-bottom: 0;
      }
    }
    .spec-percent-passing{}
  }
}

.server-history {
  width: 1000px;
  margin-bottom: 20px;    
  height: 200px;
}

.server-history-loading {
  background-image: url("doppler_loading.png");
}

// ------------------------- SERVER SUMMARIES ------------------------------ //

#new-server-form {
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.server-summaries {
  margin: 40px 0;
  background-color: $brand-tertiary;
  border-radius: 10px;
  padding: 10px;

  .server-rank {
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 5px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #ddd;
  }

  .server-highlight {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin: 0 20px 0 10px;
  }

  .active {
    background-color: #eee;
  }
  .starburst-summary {
    padding: 0 6px 0 6px;
    margin: 10px 0;
  }

  .server-summary-details {
    .percent-passed {
      font-weight: bold;
    }

  }

  .summary-time-details {
    margin-bottom: 10px;
    line-height: 1em;
  }

  .server-item {
    margin: 0 7px;
    position:relative;
    width: 185px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
  }

}

.server-stats {
  text-align: center;
  padding-top: 40px;
  .server-stats-number {
    font-size: 80px;
    margin-bottom: -20px;
  }
}

// Media queries to shrink text on front page to prevent wrapping

@media (max-width: $screen-lg-min) {
  .server-summary-details{font-size: 14px;}
}

@media (max-width: $screen-md-min) {
  .server-summary-details{font-size: 12px;}
}

// ------------------------- SERVER TIME ----------------------------------- //

.server-time {
  font-size: 0.7em;
  color: $base-header-small;
}

.servers-show-time {
  margin-left: 10px;
}

.edit-server-name-icon i{cursor: pointer;}

.server-name-label{
  display: inline;
}

.truncate-server-data{
  @include truncate(275px);
}

.edit-panel{
  #edit-server-name-dialogue{
    width: 100%;
    margin-bottom: 5px;
  };
  #edit-server-url-dialogue{
    width: 100%;
    margin-bottom: 5px;
  };
  #edit-server-tags-dialogue{width: 100%;};
  button{width: 100px; display: inline}
}



// ------------------------- TEST RUN SUMMARY TAB ----------------------------------- // 
.test-run-report{
  margin-top: 30px;
  .spec-row{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .starburst-summary {
    height: 338px;
  }
}
