
.server.selectBox {
  margin-bottom: 30px;
  text-align: left;
  color: $brand-accent;
  font-size: 20px;

  button {
    border: none;
    font-size: 16px;
    text-align: left;
  }
}


// ------------------------- SERVER DETAILS -------------------------------- //

.server-details {
  height: 60px;
  border-radius: 10px;
  .server-icon {
    margin-right: 30px;
    font-size: 55px;
    line-height: 60px;
    color: $brand-accent;
  }

  .authorize-icon {
    margin-right: 15px;
    font-size: 45px;
    line-height: 60px;
    color: $brand-accent;
  }

  .server-url-name {
    text-align: left;
    line-height: 26px;
    padding: 5px 0 0 0;
    display: inline-block;
    .server-name {
      color: $brand-primary;
    }

    .edit-server-name {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .tag {
    display: inline-block;
    background-color: $brand-accent;
    border: 3px solid $brand-accent;
    color: $brand-tertiary;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 100;
    padding: 3px;
    margin-bottom: 5px;
    line-height: 14px;
    a {
      color: $brand-tertiary;
      cursor: pointer
    }
  }
}

.server-test-details{
  margin-bottom: 30px;
}

.server-url-panel {
  a {
    color: $brand-primary;
  }
}

// ------------------------- FHIR SPECIFICATION STARBURST ------------------ //

.percent-supported {
  text-align: left;

  .percent-supported-value {
    font-size: 30px;
  }
  .percent-supported-text {
    font-size: 16px;
  }
}

.server-fhir-specification {
  margin-bottom: 40px;

  .spec-starburst-chart {
    padding: 30px 0px 30px 30px;
    text-align: left;

    .starburst {
      svg {
        min-width: 300px;
        min-height: 300px;
      }
    }

  }

  .spec-details {
    padding-top: 60px;

    .spec-headers {
      margin-bottom: 15px;
      text-align: left;

      .spec-headers-specification {
        text-decoration: underline;
      }

      .spec-headers-passing {
        text-align: right;
        text-decoration: underline;
      }
    }

    .spec-icon{
      font-size: 24px;
      line-height: 24px;
    }

    .spec-title{
      text-align: left;
      white-space: nowrap;
    }

    .spec-bar-graph{
      & .progress-small{
        margin-bottom: 0;
      }
    }
    .spec-percent-passing{}
  }
}

// ------------------------- SERVER SUMMARIES ------------------------------ //

.server-summaries {
  margin: 15px;
  background-color: $brand-tertiary;
  border-radius: 10px;
  min-height: 920px;
  text-align: center;
  padding: 40px 0;

  .summary {
    padding: 5px;
  }

  .server-summary-details {
    margin: 10px;
    margin-bottom: 0px;

    .percent-passed {
      font-weight: bold;
    }
  }

  .summary-time-details {
    margin-bottom: 10px;
    line-height: 1em;
  }

  .starburst {
    width: 300px;
    height: 300px;
  }

}

// ------------------------- SERVER TIME ----------------------------------- //

.server-time {
  font-size: 0.7em;
  color: $base-header-small;
}

.servers-show-time {
  margin-left: 10px;
}

.server-name-panel{
  .edit-server-name-icon{display: inline}
}

.server-name-label{
  display: inline;
}

.truncate-server-data{
  @include truncate(275px);
}

.edit-panel{
  #edit-server-name-dialogue{
    width: 100%;
    margin-bottom: 5px;
  };
  #edit-server-url-dialogue{
    width: 100%;
    margin-bottom: 5px;
  };
  #edit-server-tags-dialogue{width: 100%;};
  button{width: 100px; display: inline}
}



// ------------------------- TEST RUN SUMMARY TAB ----------------------------------- // 
.test-run-report{
  margin-top: 30px;
  .spec-row{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
