
// ------------------------- SMART -------------------------------- //

h4 {
  font-size: 18px;
}

p, ol, ul {
  font-size: 14px;
}

table {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
}
