
// ------------------------- SMART -------------------------------- //

h4 {
  font-size: 18px;
}

p, ol, ul {
  font-size: 14px;
}

table {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
}

span.pass {
  color: #008000;
}

span.not_found {
  color: #FF4500;
}

span.skip {
  color: #0000FF;
}

span.fail {
  color: #B22222;
}
