.summary-cell {
  text-align: center;
}

.tab-content {
  &.details {
    background-color: $base;
    margin: 20px 0;
    padding: 20px;
    border-radius: 4px;

    .test-run-result-id {
      text-align: center;
      font-weight: bold;
    }
  }
  &.test-results{
    word-break: break-word;
  }
}

.test-results {
  .pass, .fail, .skip, .error {
    font-weight: bold;
    text-transform: uppercase;
  }

  .pass {
    color: $result-pass;
  }

  .fail {
    color: $result-fail;
  }

  .error {
    color: $result-error;
  }

  .skip {
    color: $result-skip;
  }

  .warning {
    color: $result-warning;
  }

  .details {
    min-height: 250px;
    max-height: 500px;
    margin-top: 20px;
    overflow: auto;
    h4 {
      &.heading {
        text-align: center;
        margin-top: 0px;
      }
    }
    padding: 15px;
    padding-left: 20px;
  }
  .tab-content-holder{
    border-left: 1px solid $structure;
  }

  .starburst {
    svg {
      min-width: 200px;
      min-height: 200px;
    }
  }

  .test-result-loading {
    margin-top: 160px;
    font-size: 1.6em;
  }


}

.test-run-result {
  &.filteredOut{
    display: none;
  }
  .panel-title{
    label {
      color: $brand-accent;
    }
  }
  .details{
    border-top: 2px solid $structure;
    border-bottom: 2px solid $structure;
    margin-bottom: 20px;
  }
  .tab-content{
    border: 5px solid $base;
  }
}

.grouping-options{
  margin-bottom: 20px;
  border-left: none;
  button{
    width: 50%;
    &.selected{
      background-color: $brand-accent;
      color: white;
    }
  }
}

.button-holder{
  text-align: left;
  a{
    margin-right: 4px;
  }
  button{
    height: 34px;
    font-size: 16px;
  }
}

.tab-content-holder .test-results {
  .button-holder{
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    /*border-bottom: 1px solid $structure;*/
    .suite-selectors{
      margin-top: 5px;
    }
  }
  .selected-run{
    font-size: 16px;

  }
  .past-test-runs-selector.form-control{
    display: inline;
    width: inherit;
    border-color: $brand-accent;
    color: $brand-accent;
  }
  .display-data{
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .close-change-test-run{
    font-size: 14px;
  }
}

.filter{
  margin-top: 30px;
  & > div{
    margin-bottom: 15px;
  }
  .button-holder{
    & > div > a{
      font-size: 12px;
    }
    margin-top: 10px;
    button{
      text-align: left;
      &.hide{
        visibility: none;
      }
    }
  }
  .tag {
    display: inline-block;
    background-color: $brand-accent;
    border: 3px solid $brand-accent;
    color: $brand-tertiary;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 100;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    a {
        color: $brand-tertiary;
    }
  }
  .summary{
  }
  .add-filter{
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    .add-filter-selector{
      select{
        width: 70%;
        display: inline;
      }
      a{
        font-size: 14px;
        display: inline;
      }
    }
  }
  .filter-selector.form-control{
    border-color: $brand-accent;
    color: $brand-accent;
  }
}

.test-results{
  .hidden{
    visibility: none;
  }
}

.past-test-runs-selector{
  visibility: none;
}