<h1>SMART on <span style="color: #B74C18">FHIR</span></h1>
<div class="alert alert-danger" role="alert">
    This feature is no longer being maintained and may not function properly.<br>
For comprehensive US Core-based testing, please visit <a href="https://inferno.healthit.gov">Inferno</a>.
</div>


<div class="well helper_text">
  Crucible SMART App is a <a href="http://smarthealthit.org/smart-on-fhir/" target="_blank">SMART-on-FHIR App</a> that executes a series of tests against an HL7® FHIR® Server. These tests are compatible with <a href="http://hl7.org/fhir/index.html" target="_blank">FHIR STU3</a> and <a href="http://hl7.org/fhir/DSTU2/index.html" target="_blank">FHIR DSTU2</a>.
  <br>
  <br>
  STU3 testing focuses particularly on the <a href="http://hl7.org/fhir/us/core/index.html" target="_blank">US Core Implementation Guide</a> and <a href="http://hl7.org/fhir/DSTU2/argonaut/argonaut.html" target="_blank">Argonauts</a> Use-Cases.
  <br>
  <br>
  DSTU2 testing focuses particularly on the <a href="http://hl7.org/fhir/DSTU2/daf/daf.html" target="_blank">DAF Implementation Guide</a> and <a href="http://hl7.org/fhir/DSTU2/argonaut/argonaut.html" target="_blank">Argonauts</a> Use-Cases.
</div>
