<div class="container main servers-show">
  <div class="row content">
    <div class="col-sm-12">
      <div class="palette report">

        <%= render "info" %>

        <%= render "instructions"%>

      </div>
    </div>
  </div>
</div>
